################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

.vs
source/ProjetoAulas/bin
source/ProjetoAulas/obj
