################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/source/WebApplication1/.vs
/source/WebApplication1/bin
/source/WebApplication1/obj
/source/WebApplication2/.vs
/source/WebApplication2/bin
/source/WebApplication2/obj
/source/WebApplication3/.vs
/source/WebApplication3/bin
/source/WebApplication3/obj
/source/WebApplication4/.vs
/source/WebApplication4/bin
/source/WebApplication4/obj